# Add your Python dependencies here
# For data generation
faker==25.8.0

# For PostgreSQL DB connectivity
psycopg2-binary==2.9.9

# For Kafka producer
kafka-python==2.0.2

sqlalchemy
cryptography
requests
python-dotenv
boto3==1.34.34
